dist: xenial

sudo: required

git:
  depth: 3

language: bash

before_install:
  - sudo apt-get install -y shellcheck

script:
  - bash -x installer.sh

after_script:
  - shellcheck installer.sh
  - vnstat
